<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="author">
	<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_comment.author" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="author" /><br />
<label for="content">
	<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_comment.content" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="content" cols="40" rows="15" /><br />
<label for="mark">
	<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_comment.mark" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="mark" /><br />
<label for="date">
	<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_comment.date" />
</label><br />
	<f:form.textfield property="date" value="{comment.date->f:format.date()}" /><br />
</html>