<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-phototheque-gcppasgbcepsjf" >
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_album.title" />
		</td>
		<td>
		{album.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_album.desription" />
		</td>
		<td>
		{album.desription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_album.shooting_date" />
		</td>
		<td>
		{album.shootingDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_album.thumbnail" />
		</td>
		<td>
				<f:image src="{album.thumbnail.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>
</html>
