<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-phototheque-gcppasgbcepsjf" >
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.title" />
		</td>
		<td>
		{photo.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.description" />
		</td>
		<td>
		{photo.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.image" />
		</td>
		<td>
				<f:image src="{photo.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.shooting_date" />
		</td>
		<td>
		{photo.shootingDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.author" />
		</td>
		<td>
		{photo.author}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.place" />
		</td>
		<td>
		{photo.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.models" />
		</td>
		<td>
		{photo.models}
		</td>
	</tr>
</table>
</html>
