<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Photo</h1>

    <f:flashMessages />

    <table  class="tx_photothequegcppasgbcepsjf" >
        <tr>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.title" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.description" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.image" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.shooting_date" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.author" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.place" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_photo.models" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{photos}" as="photo">
            <tr>
                <td><f:link.action action="show" arguments="{photo : photo}">{photo.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{photo : photo}">{photo.description}</f:link.action></td>
                <td><f:link.action action="show" arguments="{photo : photo}">{photo.image.originalResource.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{photo : photo}">{photo.shootingDate -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="show" arguments="{photo : photo}">{photo.author}</f:link.action></td>
                <td><f:link.action action="show" arguments="{photo : photo}">{photo.place}</f:link.action></td>
                <td><f:link.action action="show" arguments="{photo : photo}">{photo.models}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{photo : photo}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{photo : photo}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Photo</f:link.action>
</f:section>
</html>
