<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Album</h1>

    <f:flashMessages />

    <table  class="tx_photothequegcppasgbcepsjf" >
        <tr>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_album.title" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_album.desription" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_album.shooting_date" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_album.thumbnail" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{albums}" as="album">
            <tr>
                <td><f:link.action action="show" arguments="{album : album}">{album.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{album : album}">{album.desription}</f:link.action></td>
                <td><f:link.action action="show" arguments="{album : album}">{album.shootingDate -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="show" arguments="{album : album}">{album.thumbnail.originalResource.name}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{album : album}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{album : album}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Album</f:link.action>
</f:section>
</html>
