<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Tag</h1>

    <f:flashMessages />

    <table  class="tx_photothequegcppasgbcepsjf" >
        <tr>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_tag.title" /></th>
            <th><f:translate key="tx_photothequegcppasgbcepsjf_domain_model_tag.color" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{tags}" as="tag">
            <tr>
                <td><f:link.action action="show" arguments="{tag : tag}">{tag.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{tag : tag}">{tag.color}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{tag : tag}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{tag : tag}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Tag</f:link.action>
</f:section>
</html>
