<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-phototheque-gcppasgbcepsjf" >
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_tag.title" />
		</td>
		<td>
		{tag.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_photothequegcppasgbcepsjf_domain_model_tag.color" />
		</td>
		<td>
		{tag.color}
		</td>
	</tr>
</table>
</html>
